<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!-- <h4 class="card-title">Example</h4>
                <p class="card-title-desc">This is an experimental awesome solution for responsive tables with complex
                    data.</p> -->

                <div class="table-rep-plugin">
                    <!-- <div class="table-responsive mb-0" data-pattern="priority-columns"> -->
                        <table id="listing-table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th data-priority="1">Description</th>
                                    <th data-priority="3">Created at</th>
                                    <th data-priority="1">Created by</th>
                                    <th data-priority="3">Status</th>
                                    <th data-priority="3">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

